<template>
  <div class="quote-list-container">
    <h2 id="quotes">Citazioni</h2>
    <div class="quote-filter-wrapper">
      <QuoteFilter />
    </div>
    <transition-group tag="ul" name="list">
      <QuoteListItem v-for="quote in quotes" :key="quote.id" :quote="quote" />
    </transition-group>
  </div>
</template>

<script>
import QuoteListItem from '@/components/QuoteListItem.vue';
import QuoteFilter from '@/components/QuoteFilter.vue';

export default {
  name: 'QuoteList',
  components: {
    QuoteFilter,
    QuoteListItem
  },
  props: {
    quotes: {
      type: Array,
      required: true
    }
  }
};
</script>

<style scoped>
.quote-list-container {
  margin-top: 1.5rem;
}

ul {
  padding: 0;
  list-style: none;
}
h2 {
  text-align: center;
  color: var(--secondary-color-800);
}
h2::before {
  content: '#';
}

.quote-filter-wrapper {
  margin-top: 2rem;
}

.list-enter,
.list-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

.list-enter-active,
.list-leave-active,
.list-move {
  transition-property: opacity, transform;
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}
</style>
