<template>
  <li>
    <blockquote>
      <p>{{ quote.quoteText }}</p>
      <footer>{{ quote.quoteAuthor }}</footer>
    </blockquote>
  </li>
</template>

<script>
export default {
  name: 'QuoteListItem',
  props: {
    quote: {
      type: Object,
      required: true
    }
  }
};
</script>

<style scoped>
li {
  display: block;
  width: 90%;
  max-width: 640px;
  margin: 2rem auto 0;
}

blockquote {
  font-family: 'Lora', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 2rem;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14);
}

blockquote p {
  margin-top: 0;
  font-style: italic;
  font-size: var(--font-size-s);
  line-height: 1.5;
  color: var(--secondary-color-900);
}

blockquote::before {
  content: '\201c';
  font-size: var(--font-size-5xl);
  line-height: 0.8;
  color: var(--primary-color-200);
  display: block;
  margin-bottom: -3rem;
}

blockquote footer {
  color: var(--primary-color-600);
  font-weight: 700;
  font-size: var(--font-size-xs);
  text-align: right;
  margin-top: 1rem;
  padding-right: 1rem;
}

blockquote footer::before {
  content: '\2014\0020';
}
</style>
