<template>
  <form @submit.prevent="formHandler">
    <div class="input-wrapper">
      <label class="text-field" for="quoteText">testo</label>
      <textarea
        placeholder="Inserisci il testo della citazione"
        name="quoteText"
        id="quoteText"
        v-model="quoteText"
      ></textarea>
    </div>
    <div class="input-wrapper">
      <label class="text-field" for="quoteAuthor">autore</label>
      <input
        placeholder="Inserisci il nome dell'autore"
        type="text"
        name="quoteAuthor"
        id="quoteAuthor"
        v-model="quoteAuthor"
        autocomplete="off"
      />
    </div>
    <div class="input-wrapper">
      <input type="radio" id="en" value="en" v-model="quoteLanguage" />
      <label class="radio-label" for="en">EN</label>
      <input type="radio" id="it" value="it" v-model="quoteLanguage" />
      <label class="radio-label" for="it">IT</label>
    </div>
    <transition name="fade" mode="out-in">
      <div key="uploading" v-if="isUploading" class="uploading-wrapper">
        <LoadingSpinner color="hsl(210, 31%, 80%)" />
        <p>Salvataggio in corso...</p>
      </div>
      <div key="not-uploading" v-else class="button-wrapper">
        <transition name="fade" mode="out-in">
          <div v-if="hasTriedToUpload" class="form-feedback">
            <div v-if="uploadError" class="feedback-error">
              <ErrorIcon />
              <span>Impossibile salvare le informazioni.</span>
            </div>
            <div v-else class="feedback-ok">
              <SuccessIcon />
              <span>Salvataggio completato</span>
            </div>
          </div>
          <button
            v-else
            :disabled="!isValidForm"
            type="submit"
            class="btn btn-primary"
          >
            Aggiungi al database
          </button>
        </transition>
      </div>
    </transition>
  </form>
</template>

<script>
import uniqid from 'uniqid';

import LoadingSpinner from '@/components/LoadingSpinner.vue';
import SuccessIcon from '@/assets/ok.svg?inline';
import ErrorIcon from '@/assets/error.svg?inline';

export default {
  components: {
    ErrorIcon,
    LoadingSpinner,
    SuccessIcon
  },
  data() {
    return {
      quoteText: '',
      quoteAuthor: '',
      quoteLanguage: 'en'
    };
  },
  computed: {
    isValidForm() {
      return this.quoteText && this.quoteAuthor;
    },
    isUploading() {
      return this.$store.state.uploadingModule.uploading;
    },
    hasTriedToUpload() {
      return this.$store.state.hasTriedToUploadModule.hasTriedToUpload;
    },
    uploadError() {
      return this.$store.state.errorModule.errors.upload;
    }
  },
  methods: {
    formHandler() {
      if (this.quoteText && this.quoteAuthor) {
        const quote = {
          id: uniqid(),
          quoteText: this.quoteText,
          quoteAuthor: this.quoteAuthor,
          lang: this.quoteLanguage
        };
        this.$store.dispatch('quoteModule/addQuote', quote);
        this.quoteText = '';
        this.quoteAuthor = '';
      }
    }
  }
};
</script>

<style scoped>
.uploading-wrapper {
  display: flex;
  align-items: flex-end;
}

.uploading-wrapper,
.button-wrapper {
  margin-top: 1.5rem;
}

.uploading-wrapper p {
  color: var(--secondary-color-600);
}

.feedback-ok,
.feedback-error {
  display: flex;
  align-items: center;
}

.feedback-ok {
  color: var(--success-color-500);
}

.feedback-error {
  color: var(--warning-color-500);
}

.feedback-ok svg,
.feedback-error svg {
  height: 1.5rem;
  padding-right: 0.875rem;
}

.feedback-ok svg {
  fill: var(--secondary-color-600);
}

.feedback-error svg {
  fill: var(--secondary-color-600);
}

.loading-spinner-container {
  display: inline-block;
  height: 2rem;
}

form {
  min-width: 240px;
  width: 80%;
  max-width: 640px;
  margin: 0 auto;
}

.input-wrapper {
  margin-top: 1.5rem;
}

label {
  text-transform: capitalize;
  color: var(--secondary-color-600);
  font-size: var(--font-size-xs);
  font-weight: 700;
}

.radio-label {
  display: inline-block;
  padding: 6px 12px;
  margin: 0;
  cursor: pointer;
  transition: opacity 200ms ease-out;
  border-color: var(--secondary-color-300);
  color: var(--secondary-color-300);
  border-width: 2px;
  border-style: solid;
  width: 3rem;
  text-align: center;
}

.radio-label:first-of-type {
  border-radius: 4px 0px 0px 4px;
}

.radio-label:last-of-type {
  border-radius: 0px 4px 4px 0px;
}

input[type='radio'] {
  width: 0px;
  height: 0px;
  opacity: 0;
}

input[type='radio']:checked + label {
  background: var(--secondary-color-300);
  border-color: var(--secondary-color-300);
  color: var(--secondary-color-900);
}

.text-field {
  display: block;
  margin: 0 0 0.5rem;
}

textarea {
  resize: vertical;
  min-height: 8rem;
}

input[type='text'],
textarea {
  background-color: var(--secondary-color-200);
  color: var(--secondary-color-900);
  border: none;
  padding: 0.875rem 0.5rem;
  width: 100%;
  border-radius: 4px;
}

input[type='text']:focus,
textarea:focus {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.26);
  outline: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 500ms;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
