<template>
  <div class="filter-container">
    <div class="filter-wrapper">
      <span class="highlight" :style="translate"></span>
      <div class="label-wrapper">
        <template v-for="(filter, index) in filters">
          <input
            type="radio"
            :id="filter"
            :value="index"
            @change="onChange"
            :checked="picked === index"
            :key="'radio' + index"
          />
          <label :for="filter" :key="'label' + index">{{ filter }}</label>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      picked: 1,
      filters: ['inglese', 'tutte', 'italiano']
    };
  },
  computed: {
    translate() {
      let distance = this.picked * 100;
      return `transform: translateX(${distance}px)`;
    }
  },
  methods: {
    onChange(event) {
      this.picked = +event.target.value;
      this.$store.dispatch('currentViewModule/setCurrentView', this.picked);
    }
  }
};
</script>

<style scoped>
.filter-container {
  text-align: center;
  position: relative;
}

.filter-wrapper {
  display: inline-block;
}

label {
  display: inline-block;
  text-transform: capitalize;
  font-weight: 700;
  font-size: var(--font-size-s);
  color: var(--secondary-color-900);
  padding: 6px 12px;
  border-radius: 4px;
  margin: 0 1rem;
  cursor: pointer;
  opacity: 0.54;
  transition: opacity 200ms ease-out;
  transition-delay: 250ms;
}

label:first-of-type {
  margin-left: 0;
}

label:last-of-type {
  margin-right: 0;
}

input[type='radio'] {
  width: 0px;
  height: 0px;
  opacity: 0;
}

input[type='radio']:checked + label {
  opacity: 1;
}

.highlight {
  position: absolute;
  display: block;
  width: 5rem;
  height: 2rem;
  padding: 6px 12px;
  border-radius: 4px;
  background: var(--primary-color-200);
  transition: transform 500ms ease-out;
}

.label-wrapper {
  position: relative;
  z-index: 100;
}
</style>
