<template>
  <footer>
    <p>Quotes DB Example. Made with Vue & Vuex.</p>
  </footer>
</template>

<style scoped>
footer {
  text-align: center;
  margin-top: 4rem;
}

p {
  font-size: var(--font-size-xs);
  color: var(--secondary-color-600);
  padding: 1rem;
}
</style>
