<template>
  <header>
    <h1>
      <a href="/" title="back to Homepage">
        <QuotesLogo />
      </a>
    </h1>
    <transition name="fade">
      <button
        v-if="isLoading"
        @click="onClick"
        class="btn btn-secondary"
        :class="editingClass"
      >
        {{ buttonLabel }}
      </button>
    </transition>
  </header>
</template>

<script>
import QuotesLogo from '@/assets/logo.svg?inline';

export default {
  name: 'TheHeader',
  components: {
    QuotesLogo
  },
  computed: {
    editingClass() {
      return { editing: this.$store.state.editingModeModule.editingMode };
    },
    isLoading() {
      return !this.$store.state.loadingModule.loading;
    },
    buttonLabel() {
      return this.$store.state.editingModeModule.editingMode
        ? 'nascondi form'
        : 'crea nuova citazione';
    }
  },
  methods: {
    onClick() {
      this.$store.dispatch(
        'editingModeModule/setEditingMode',
        !this.$store.state.editingModeModule.editingMode
      );
    }
  }
};
</script>

<style scoped>
header {
  height: 6rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14);
}

h1 {
  height: 48px;
  margin-left: 1.5rem;
}

a {
  display: inline-block;
}
svg {
  width: 48px;
  height: 48px;
  color: var(--primary-color-600);
}

button {
  margin-right: 1.5rem;
  width: 12rem;
  padding-left: 0;
  padding-right: 0;
}

button::before {
  content: '+';
}

button.editing::before {
  content: '';
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
