html,
body {
  height: 100%;
  background: var(--secondary-color-100);
}

* {
  margin: 0;
  font-family: 'Roboto', Avenir, Helvetica, Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --primary-color-100: hsl(152, 69%, 95%);
  --primary-color-200: hsl(154, 75%, 87%);
  --primary-color-300: hsl(156, 73%, 74%);
  --primary-color-400: hsl(158, 58%, 62%);
  --primary-color-500: hsl(160, 50%, 45%);
  --primary-color-600: hsl(162, 64%, 41%);
  --primary-color-700: hsl(164, 71%, 34%);
  --primary-color-800: hsl(166, 72%, 28%);
  --primary-color-900: hsl(170, 97%, 14%);

  --secondary-color-100: hsl(210, 36%, 98%);
  --secondary-color-200: hsl(212, 33%, 89%);
  --secondary-color-300: hsl(210, 31%, 80%);
  --secondary-color-400: hsl(211, 27%, 70%);
  --secondary-color-500: hsl(209, 23%, 60%);
  --secondary-color-600: hsl(210, 22%, 49%);
  --secondary-color-700: hsl(209, 34%, 30%);
  --secondary-color-800: hsl(211, 39%, 23%);
  --secondary-color-900: hsl(209, 60%, 15%);

  --success-color-500: hsl(140, 75%, 42%);
  
  --warning-color-500: hsl(355, 72%, 59%);


  --font-size-3xs: 0.5rem;
  --font-size-2xs: 0.75rem;
  --font-size-xs: 0.875rem;
  --font-size-s: 1rem;
  --font-size-m: 1.25rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-2xl: 2.5rem;
  --font-size-3xl: 3rem;
  --font-size-4xl: 4rem;
  --font-size-5xl: 8rem;
}

.btn {
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background: var(--primary-color-300);
  color: var(--secondary-color-900);
  transition: transform 500ms ease-out;
}

.btn-primary:hover,
.btn-primary:focus {
  background: var(--primary-color-500);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, .26);
  outline: none;
}

.btn-primary:active {
  transform: scale(.9);
}

.btn-primary:disabled {
  box-shadow: none;
  background: var(--secondary-color-300);
  color: var(--secondary-color-600);
  cursor: not-allowed;
}

.btn-secondary {
  color: var(--primary-color-800);
  background: none;
  transition: transform 500ms ease-out;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background: var(--primary-color-300);
  color: var(--primary-color-900);
  outline: none;
}

.btn-secondary:active {
  transform: scale(.9);
}