<template>
  <div id="app">
    <TheHeader />
    <div class="body-container">
      <div class="form-container" ref="formContainer">
        <QuoteForm />
      </div>
      <div class="content-wrapper" ref="contentWrapper">
        <transition name="fade" mode="out-in">
          <LoadingSpinner v-if="isLoading" color="hsl(158, 58%, 62%)" />
          <div v-else-if="downloadError" class="download-error">
            <ErrorIcon />
            <p>
              Oops... Si &egrave; verificato un errore <br />
              Non &egrave; stato possibile scaricare <br />
              le citazioni dal server :-(
            </p>
          </div>
          <div v-else class="quote-list-wrapper">
            <QuoteList :quotes="quotes" />
          </div>
        </transition>
      </div>
    </div>
    <TheFooter />
  </div>
</template>

<script>
import TheHeader from '@/components/TheHeader.vue';
import TheFooter from '@/components/TheFooter.vue';
import LoadingSpinner from '@/components/LoadingSpinner.vue';
import QuoteForm from '@/components/QuoteForm.vue';
import QuoteList from '@/components/QuoteList.vue';
import ErrorIcon from '@/assets/error.svg?inline';

export default {
  name: 'App',
  components: {
    ErrorIcon,
    TheHeader,
    TheFooter,
    LoadingSpinner,
    QuoteForm,
    QuoteList
  },
  data() {
    return {
      formContainer: null,
      contentWrapper: null
    };
  },
  computed: {
    downloadError() {
      return this.$store.state.errorModule.errors.download;
    },
    isLoading() {
      return this.$store.state.loadingModule.loading;
    },
    quotes() {
      return this.$store.getters['quoteModule/getCurrentViewQuotes'];
    }
  },
  watch: {
    '$store.state.editingModeModule.editingMode': function() {
      this.formContainer.style.opacity = 1;
      this.toggleForm();
    }
  },
  created() {
    this.$store.dispatch('quoteModule/getQuotes');
  },
  mounted() {
    this.formContainer = this.$refs.formContainer;
    this.contentWrapper = this.$refs.contentWrapper;
    this.toggleForm();
  },
  methods: {
    toggleForm() {
      const { height: y } = this.formContainer.getBoundingClientRect();
      const editMode = this.$store.state.editingModeModule.editingMode;
      this.formContainer.style.transform = `scaleY(${+editMode})`;
      this.contentWrapper.style.transform = `translateY(-${y}px)`;
    }
  }
};
</script>

<style>
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  display: grid;
  grid-template-rows: 6rem auto 2rem;
}

.form-container,
.content-wrapper {
  transition: transform 500ms ease-out;
}

.form-container {
  padding: 1rem 0 3rem;
  transform-origin: top center;
  opacity: 0;
}

.download-error {
  text-align: center;
  padding-top: 2rem;
}

.download-error svg {
  fill: var(--warning-color-500);
  height: 3rem;
}

.download-error p {
  margin-top: 0.875rem;
  line-height: 1.5;
  color: var(--secondary-color-600);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 500ms;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
